html
    head
        meta#head(description='will be injected')
        script(src='/assets/vendor.bundle.js')
        script(src='/assets/head.bundle.js')
    body
        app
        script(src='/assets/app.bundle.js')
